.animate{
  /* background-color: red; */
  transition:  .5s ease;
  transform:  scale(1.0);
  font-family: 'Permanent Marker', cursive;
  font-family: 'Poppins', sans-serif;
  border-radius: 30px
 
}


.animate:hover{
    /* background-color: aqua; */
  
    transition:  .5s ease; 
    transform:  scale(1.02);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  


.bootstrap{
  background-color: #6239b4;
}

/* card decoration  */
.other{
  color:#761071
}
.Tier{
  color: #0da925;
}
.change{
  color: #f7931a;
}

.Symbol{
  color: #e71b24;
}

  body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
   
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    /* background-color: #712cf9; */
    color: black;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }